
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


// COLORS

$color1: red;
$color2: blue;
$color3: orange;
$color4: white;
$colorBlack5: rgb(0, 0, 0, 0.8);
$colorBlack6:  rgba(0, 0, 0, 0.637);
$colorBlack7: rgba(0, 0, 0, 0.721);


// FONTS
$ffFamiljen: "Familjen Grotesk", sans-serif;
$ffAlegreya: "Alegreya", serif;
$ffBlackOps: "Black Ops One", system-ui;
$ffSegoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$ffGill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$fs-sm: 0.8rem;
$fs-md: 1rem;
$fs-lg: 1.3rem;
$fs-xl: 1.6rem;
$fs-xxl: 2rem;