
.headerH1{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.headerChar{
    color: rgba(0, 0, 0, 0.637);
    transform: scale(1) translateY(0);
    
    transition: transform 1s ease-in-out;
    &:hover{
        color: rgba(0, 0, 0, 0.903);
        transform: scale(1.2) translateY(30px);
        transition: all 0.1s ease-in-out;
        
    }
}